@import '../variables';

.hero {
	width: min(100% - 1rem, 100rem);
	margin-inline: auto;
	padding: 0 0 1.5rem;

	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: clamp(0.625rem, 3vw, 3rem);
		padding: 0 0 1rem;
	}

	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-figure {
		position: relative;
		display: flex;
		border-radius: 0.875rem;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		overflow: hidden;
		cursor: pointer;
	}

	&-image {
		width: clamp(10rem, 14vw, 25rem);
		height: clamp(13.75rem, 18vw, 34.375rem);
		object-fit: cover;
	}

	&-name {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.5rem;
		font-family: 'Montserrat', sans-serif;
		font-size: clamp(1rem, 2vw, 1.125rem);
		line-height: 1.1;
		color: map-get($color, 'platinum');
		background: linear-gradient(
			to top,
			map-get($color, 'eerie-black'),
			transparent
		);
	}

	&-details {
		position: fixed;
		inset: 0;
		backdrop-filter: blur(1rem);
		z-index: 1000;

		&-graph {
			height: 100%;
			padding: 2rem;
		}

		&-image {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		&-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.25rem;

			& strong {
				font-weight: 600;
				font-size: 1rem;
			}
		}
	}
}

.content {
	flex-direction: column;
	gap: 0.5rem;

	&-caption {
		font-size: 0.625rem;
		font-weight: 600;
		white-space: pre-wrap;
	}
}
