$breakpoint: (
	'xl': 87.5rem,
	//desktop
	'lg': 62.5rem,
	//laptop
	'md': 48rem,
	//tablet
	'sm': 30rem,
	//mobile
);

$color: (
	'gray-X11': #bebebe,
	'onyx': #373737,
	'eerie-black': #1a1818,
	'platinum': #ece7e1,
	'candy-apple-red': #ff0800,
);

%transition {
	transition: all 0.35s ease-in-out;
}

%flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
