@import '../../variables';

.btn {
	@extend %flex;
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	font-weight: 600;
	font-size: clamp(0.75rem, 1.5vw, 1.25rem);
	line-height: 2;
	text-transform: uppercase;
	margin: 0 auto;
	cursor: pointer;
	@extend %transition;

	&.reset {
		position: fixed;
		top: 2rem;
		right: 2rem;
		font-size: 1rem;
		z-index: 1000;

		&:hover {
			color: map-get($color, 'candy-apple-red');
		}
	}
}
